exportClasses(RnmrQuant1D)
export(RnmrQuant1D)
importFrom(R6, R6Class)
importFrom(magrittr,"%>%")
importFrom(foreach,"%dopar%")
importFrom(foreach,"foreach")
importFrom(doParallel, "registerDoParallel")
importFrom(webshot2, "webshot")
importFrom(DT, "datatable")
importFrom(DT, "JS")
importFrom(DT, "saveWidget")
importFrom(DT, "formatStyle")
import(openxlsx)
import(plotly)
import(Rnmr1D)

